Repository tine20/tine20, pull requests merged in 2018-08, with the labels that each got.

#6899 Fix uncaught TypeError
  tine20/Tinebase/js/widgets/relation/GridRenderer.js
Labels: Bug, Timetracker

#6896 Automatically attach mail signature to mails send via ActiveSync
  tine20/Felamimail/Frontend/ActiveSync.php
  tine20/Tinebase/Mail.php
Labels: ActiveSync, Felamimail

#6905 fix(Tinebase): reliably evaluate config entry tine20URL
  tine20/Tinebase/Core.php
Labels: Tinebase, Webserver
